<suite name="Suite">
    <listeners>
        <listener class-name="com.automation.tests.listeners.RetryListener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.automation.tests.AmazonTest" enabled="true"/>
            <class name="com.automation.tests.SearchSuggestionsTest" enabled="false"/>
            <class name="com.automation.tests.BrokenLinksTest"/>
            <class name="com.automation.tests.FileUploadTest" enabled="false"/>
            <class name="com.automation.tests.FileDownloadTest" enabled="false"/>
            <class name="com.automation.tests.WebTableTest" enabled="false"/>
            <class name="com.automation.tests.SortTableTest" enabled="false"/>
            <class name="com.automation.tests.AutoSuggestionTest" enabled="false"/>
            <class name="com.automation.tests.TestCaseGeneratorTest" enabled="false"/>
            <class name="com.automation.tests.PaginationSearchTest" enabled="false"/>
            <class name="com.automation.tests.ToolTipTest" enabled="false"/>
            <class name="com.automation.tests.AlertTest" enabled="false"/>
            <class name="com.automation.tests.NotificationTest" enabled="false"/>
            <class name="com.automation.tests.CalendarTest" enabled="false"/>
            <class name="com.automation.tests.FrameAndWindowHandlingTest" enabled="false"/>
            <class name="com.automation.tests.DragAndDropTest" enabled="false"/>
            <class name="com.automation.tests.BasicAuthTest" enabled="true"/>
            <class name="com.automation.tests.api.APIValidationTest" enabled="true"/>
            <class name="com.automation.tests.api.NestedJSONResponseTest" enabled="true"/>
            <class name="com.automation.tests.api.wireMockIntegrationGetTest" enabled="true"/>
            <class name="com.automation.tests.api.WireMockIntegrationPostTest" enabled="true"/>
            <class name="com.automation.tests.api.RetryFlakyAPITest" enabled="true"/>
            <class name="com.automation.tests.DBConnectionTest" enabled="true"/>
            <class name="com.automation.tests.DBRollBackTest" enabled="true"/>
            <class name="com.automation.tests.RegexPatternTest" enabled="true"/>
            <class name="com.automation.tests.LoginTest" enabled="true"/>
            <class name="com.automation.tests.api.JSONStringParasingTest" enabled="true"/>
            <class name="com.automation.tests.api.JsonValidationTest" enabled="true"/>
        </classes>
    </test>
</suite>
