<suite name="Suite">
    <listeners>
        <listener class-name="com.automation.tests.listeners.RetryListener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.automation.tests.AmazonTest" enabled="false"/>
            <class name="com.automation.tests.SearchSuggestionsTest" enabled="false"/>
            <class name="com.automation.tests.BrokenLinksTest" enabled="=true"/>
        </classes>
    </test>
</suite>
